<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="loginto" method="post">
        <table align="center">
            <tr>
                <td colspan="2"><strong>百格欢迎您登录</strong></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <c:if test="not empty msg && !(msg eq null)">
                    <td colspan="2" style="color: red">${msg}</td>
                </c:if>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="user_name"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" name="password"/></td>
            </tr>

            <tr>
                <td colspan="1"><input type="submit" value="登录"/></td>
                <td colspan="1"><input type="button" value="注册" onclick="window.open('toregister');"/></td>
            </tr>
        </table>
    </form>
    <div id="like_button_container"></div>
    <!-- 加载 React。-->
    <!-- 注意: 部署时，将 "development.js" 替换为 "production.min.js"。-->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <!-- 加载我们的 React 组件。-->
    <script src="like_button.js"></script>
</body>
</html>